body{
  font-family: Montserrat: wght@400;
  /* font-family: Montserrat; */
}

#title{
  background-color: #ff4c68;
}

.container-fluid{
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-family: Montserrat: wght@400;
  font-size: 1.2rem;
}

h1{
  font-family: Montserrat;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.downloadButtonRow{
  padding-bottom: 80px;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.googlePlayStore{
  width: 185px;
  height: 75px;
}

.titleImage{
  width: 50%;
  transform: rotate(25deg);
}

.featuresContainer{
  padding: 8rem 0 ;
}

.featuresRow{
  text-align: center;
}

.fas{
  font-size: 60px;
  color: #ef8172;
  margin: 3.5rem 0 1rem 0;
}

.fas:hover{
  color: #ff4c68;
}

h3{
  font-weight: bold;
}

.featuresDescription{
  color: #8f8f8f;
  width: 70%;
  margin: 0 auto;
}
